{% extends 'main/index.html' %}
{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <form class="row" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-body">
                            {% csrf_token %}
                        </div>
                        <p class="card-text">Удалить этот товар? {{ object.product }}</p>
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
